# ---------------------------------------
# Base Java ignores
# ---------------------------------------
# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.tar.gz
*.env

# JVM crash logs
hs_err_pid*
replay_pid*

program_folder/
